/* ------------------------------
    Changes built in Bootstrap styles
    ------------------------------
*/

:root,
[data-bs-theme=light],
[data-bs-theme=dark] {
    --bs-primary: #2d4189;
    --bs-primary-rgb: 45, 65, 137;
    --bs-secondary: #6684b9;
    --bs-secondary-rgb: 102, 132, 185;
    --cs-primary-dark: #202d45;
    --cs-primary-rgb: 32, 45, 69;
    --bs-tertiary-bg: #859dc7;
    --bs-tertiary-bg-rgb: 133, 157, 199;
    --bs-light: #aac2e6;
    --bs-light-rgb: 170, 194, 230;
    --bs-info: #ebebeb;
    --bs-info-rgb: rgb(194, 194, 194);
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--cs-primary-dark);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

.btn-outline-primary {
    --bs-btn-color: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-color: var(--cs-primary-dark);
    --bs-btn-hover-bg: none;
    --bs-btn-hover-border-color: var(--cs-primary-dark);
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: var(--bs-primary);
    --bs-btn-active-bg: none;
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #0d6efd;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0d6efd;
    --bs-gradient: none;
}


/* ------------------------------
    Changes fonts
    ------------------------------
*/

h1 {
    font-family: "Geostar Fill", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
}

h2 {
    font-family: "Faustina", serif;
    font-weight: 600;
}

h3 {
    font-family: "Faustina", serif;
    font-weight: 400;
}

.tasks h2 {
    font-weight: 400;
}

p, a, form {
    font-family: "Doppio One", sans-serif;
    font-weight: 400;
}

input::placeholder {
    font-family: "Faustina", serif;
    font-weight: 400;
}

.navbar-nav .nav-link {
    font-family: "Faustina", serif;
    font-weight: 600;
}

/* ------------------------------
    Skip Links  
    ------------------------------
*/

.skip-links {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Makes skip links off page, and gives them style */
.skip-links a {
    position: absolute;
    top: -8em;
    background-color: var(--bs-primary);
    color: white;
    padding: .5em 1em;
    font-weight: bold;
}

/* Has skip links appear at top corner only when focusing */
.skip-links a:focus {
    top: 0;
}

/* ------------------------------
    Makes search icon replace with x icon when collapsed
    ------------------------------
*/

.bi-search {
    display: none;
}

.bi-x {
    display: inline;
}

.collapsed .bi-search {
    display: inline;
}

.collapsed .bi-x {
    display: none;
}

/* ------------------------------
    Adds background images to tasks with linear gradient to make it darker
    ------------------------------
*/

.teamwork {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../images/teamwork.jpg) no-repeat center center;
    background-size: cover;
}

.management {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../images/management.jpg) no-repeat center center;
    background-size: cover;
}

/* ------------------------------
    Changes styles on buttons
    ------------------------------
*/

.btn-outline-primary:hover {
    text-decoration: underline;
}

/* ------------------------------
    Adds style to homepage
    ------------------------------
*/

/* Centers carousel image */
.carousel {
    margin: 0 auto;
}

/* ------------------------------
    Adds style to dashboard
    ------------------------------
*/

.card ul {
    list-style: none;
}

.add-widgets {
    transition: 1s ease-in-out;
}

.add-widgets:hover {
    text-decoration: underline;
    color: var(--bs-primary);
}

.footage {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/footage-2.jpg) no-repeat center center;
    background-size: cover;
}

.pie-chart {
    width: 150px;
    height: 150px;
}

/* ------------------------------
    Adds style to tasks
    ------------------------------
*/

.new-task {
    text-decoration: underline;
}

.task {
    text-decoration: none;
}

/* ------------------------------
    Adds animations to tasks
    ------------------------------
*/
.task:hover {
    transform: translateY(-20px);
    transition: 0.5s ease-in-out;
    filter: drop-shadow(1px 3px 0.5rem var(--bs-primary));
}

/* ------------------------------
    Adds style to navbar
    ------------------------------
*/

.search-input::placeholder {
    margin-right: 10px;
}

.nav-link:focus {
    background-color: var(--bs-primary);
    color: white;
}

/* ------------------------------
    Addss media queries to tasks page
    ------------------------------
*/

@media (min-width: 108em) {
    .new-task {
        height: 9.375em;
    }

    .task {
        height: 18.75em;
    }
}

/* ------------------------------
    Adds media queries to dashboard page
    ------------------------------
*/

@media (min-width: 62em) {
    .footage {
        height: 18.75em;
    }
}

@media (min-width: 48em) and (max-width: 62em) {
    .footage {
        height: 36.25em;
    }
}

/* @media (min-width: 26.875em) {

} */