/* ------------------------------
    Changes styles
    ------------------------------
*/

:root,
[data-bs-theme=light],
[data-bs-theme=dark] {
    --bs-primary: #C78C06;
    --bs-primary-rgb: 177, 126, 6;
    --bs-secondary: #ffe6ac;
    --bs-secondary-rgb: 255, 230, 172;
    --cs-primary-dark: #ae7a01;
    --cs-primary-rgb: 174, 122, 1;
}

/* ------------------------------
    Changes fonts
    ------------------------------
*/

h1 {
    font-family: "Geostar Fill", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: "Faustina", serif;
    font-weight: 600;
}

.tasks h2 {
    font-weight: 400;
}

p, a, form {
    font-family: "Doppio One", sans-serif;
    font-weight: 400;
}

input::placeholder {
    font-family: "Faustina", serif;
    font-weight: 400;
}


/* ------------------------------
    Makes search icon replace with x icon when collapsed
    ------------------------------
*/

.bi-search {
    display: none;
}

.bi-x {
    display: inline;
}

.collapsed .bi-search {
    display: inline;
}

.collapsed .bi-x {
    display: none;
}

/* ------------------------------
    Adds background images to tasks
    ------------------------------
*/

.teamwork {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/teamwork.jpg) no-repeat center center;
    background-size: cover;
}

.management {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/management.jpg) no-repeat center center;
    background-size: cover;
}